Create Phone Number/obj
Stop gninnipS My sdroW!/obj
You're a square!/obj
Make the Deadfish Swim/obj
.vs/C#_CODEWARS/FileContentIndex
.vs/ProjectEvaluation
.vs/C#_CODEWARS/v17
.vs/C#_CODEWARS/DesignTimeBuild
Mumbling/obj
Replace With Alphabet Position/bin
Replace With Alphabet Position/obj
Sum of two lowest positive integers/bin
Sum of two lowest positive integers/obj
Mumbling/bin
